/***
.table-day {
	width: 750px;
	margin: 0 auto;
	border-spacing: 0;
}
.table-day td {
	padding: 10px 30px;
}
.table-day td:first-child {
	width: 100px;
	text-align: center;
}
.table-day thead:nth-child(odd) {
	background-color: #A2CBE8;
}
.table-day thead:nth-child(even) {
	background-color: #376192;
	color: #fff;
}
.block-planning p {
	margin-left: 120px;
}
.block-planning h2 {
	text-align: center;
}


#wpforms-13 {
	float: left;
	position: relative;
	width: 302px;
	text-align: left;
	margin-bottom: 40px;

}
.wbf-form {
	width: 50%;
}
div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
	max-width: 100%;
}
div.wpforms-container-full .wpforms-form button[type=submit] {
	background-color: #D89A73;
	border: solid 1px #D89A73;
	color: #fff;
	float: right;
	font-weight: bold;
	padding: 10px 30px;
	width: 100%;
}
div.wpforms-container-full .wpforms-form button[type=submit]:hover {
	background-color: #9d6138;
	border: solid 1px #9d6138;
}
div.wpforms-container-full .wpforms-form textarea, div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=email] {
	background-color: #E9E9E9;
	border: 0;
}
.facebook-evenement {
	background-color: #3b5a9a;
	width: 220px;
}
.facebook-evenement img {
	float: left;
	margin-right: 5px;
	width: 35px;
}
.facebook-evenement p {
	line-height: 35px;
	color: #fff;
}
.facebook-evenement a {
	text-decoration: none;
}
.meld-je-aan_container {
	position: relative;
	width: 100%;
	max-width: 1500px;
	left: 50%;
	transform: translateX(-50%);
	margin-left: 15px;
}

#wpgmza_map {
	display: block;
	left: 50%;
	overflow: hidden;
	width: 99.1vw !important;
	height: 400px;
	margin-bottom: -16px;
	transform: translateX(-50%);
	position: relative;
}
.wpforms-confirmation-container-full {
	background: transparent;
	border: 0;
	height: 505px;
}
#tw-target-text {
	padding: 20px !important;
	width: 300px !important;
	background: #274563;
	text-align: center;
	color: #fff !important;
	text-align: center;
	border: 3px solid #1d374c !important;
	margin-left: -15px;
}

.contact_container{
	position: relative;
	width: 100%;
	max-width: 1500px;
	left: 50%;
	transform: translateX(-50%);
}
.contact-block {
	margin-left: 0;
}
.contact-block--right {
	top: 129px;
	right: 0;
	position: absolute;
	width: 50%;
}
.contact-block--right p {
	font-weight: 200;
}
.contact-block h2 {
	margin-left: 120px;
}

.contact-block--right img {
	float: left;
}
.contact-block--right strong {
	margin: 20px 0px;
	display: inline-block;
}
.block-right-icons {
	margin: 20px 0;
}
.block-right-icons img {
	float: left;
	margin-right: 15px;
	width: 45px;
}
.block-right-icons p {
	line-height: 45px;
	white-space: nowrap;
}

@media screen and (max-width: 767px) {
	.table-day {
		width: 100%;
	}
	.table-day td:first-child {
		width: inherit;
	}
	.contact-header {
		height: 125px;
	}
	#wpforms-13 {
		width: 100%;
		margin-bottom: 285px;
	}
	.contact-block--right h2 {
		margin-top: 25px;
	}
	.contact-block--right {
		width: 100%;
		top: 800px;
	}
	.block-right-icons img {
		width: 50px;
		margin-right: 10px;
	}
	.block-right-icons p {
		line-height: 50px;
		white-space: normal;
	}
	.socialmedia {
		width: 285px;
		margin: 15px auto;
	}
	.socialmedia img {
		margin: 0 15px;
		float: inherit;
	}
	div.wpforms-container-full .wpforms-form button[type=submit] {
		width: 100%;
	}
	.contact-block h2 {
		margin-left: 15px;
	}
	.g-recaptcha {
		transform:scale(0.96);
		-webkit-transform:scale(0.96);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	#wpgmza_map {
		height: 250px !important;
	}
	#tw-target-text {
		width: auto !important;
		margin: 0 -15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.contact-block h2 {
		margin-left: 15px;
	}
}

@media screen and (min-width: 992px) {
	.contact-block--right p {
		width: 400px;
	}
} **/