/* START STYLE GALLERY PAGE----------------------------------------------------- */
.imagecontainer{
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.imagecontainer .images{
  overflow: hidden;
  position: relative;
  width: 12.5%;
  padding-top:12.5%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.imagecontainer .images .text{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgba(136, 136, 153, .5); */
  left: 0;
  pointer-events: none;
  top: 0;
}
.imagecontainer .images .text p{
  color:black;
  opacity: 1;

  font-weight: bold;
  position: absolute;
  pointer-events: none;
}


#fullscreen-image{
  display: none;
  opacity: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center center;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.8);
  z-index: 90;
}
#closeFullscreen{
  position: fixed;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
}
.close-button{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


@media only screen and (max-width: 1200px) {
  .imagecontainer .images{
    width: 20%;
    padding-top:20%;

  }
}
@media only screen and (max-width: 700px) {
  .imagecontainer .images{
    width: 25%;
    padding-top:25%;

  }
}
/* END STYLE GALLERY PAGE------------------------------------------------------- */
/* START HOME GALLERY ----------------------------------------------------------*/
.home-header {
  position: relative;
	background-size: cover;
	height: 100vh;
  max-height: 55vw;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.home-header .video{
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  transform:translateX(-50%);
  left: 50%;
  margin: 0;
  padding: 0;
}
.home-header .video-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 120px 294px -40px black;
     -moz-box-shadow: inset 0 120px 294px -40px black;
          box-shadow: inset 0 120px 294px -40px black;
}
.home-header .controlls{
  position: absolute;
  height: 50px;
  width: 180px;
  right: 15px;
  bottom: 15px;
}
.home-header .controlls .button{
  float: left;
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.home-header .controlls .buttons{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}


@media only screen and (max-width: 700px) {
  .home-header .controlls {
      width: 100%;
      height: auto;
      /* overflow: auto; */
  }
  .home-header .controlls .button {
      position: relative;
      margin-left: 5px;
      margin-right: 0px;
      width: 10vw;
      height: 10vw;
      float: right;
  }
}


.home-header .meld_aan{
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: #4f89bb;
  width: 230px;
  height: 80px;
}
.home-header .meld_aan p{
  color: white;
  text-align: left;
  width: 90%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
}
.home-header .meld_aan .arrow{
  position: absolute;
  right: 5%;
  height: 60%;
  top:20%;
}

.pijl_naarbeneden{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4%;
  max-width: 90px;
  width: 20%;
}

.home_gallery{
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: auto;
  height: calc(30vw + 105px);
  margin-top: 130px;
}
.home_gallery .gallery_title{
  width: 100%;
  top: -70px;
  text-align: center;
  position: relative;
}
.home_gallery .button{
  position: absolute;
  margin-top: 30px;
  margin-bottom: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #50684A;
  border: solid 1px #50684A;
  color: #fff;
  float: right;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 1em;
}
.home_gallery .button:hover{
  background-color: #425a3b;
	border: solid 1px #425a3b;
}
.home_gallery .image_cont{
  top: 0;
  position: absolute;
  transform-origin: center center;
  width: 30%;
  padding-top: 30%;
  transform: translateX(-50%);
  border: 4px solid #d9dbd9;
  /* border-radius: 10px; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.home_gallery .imageholder{
  position: absolute;
  width: 95%;
  height: 95%;
  left: 2.5%;
  top: 2.5%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_gallery .arrow{
  position: absolute;
  width: 10vw;
  height: 30vw;
  width: 10%;
  z-index: 10;
  top: 0;
}
.arrowl{
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.arrowr{
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.home_gallery .arrow_left{
  left: 0;
}
.home_gallery .arrow_right{
  right: 0;
}
.home_gallery #cont1{
  left: 50%;
  transform: translateX(-50%) scale(1);
}
.home_gallery #cont2{
  left: 77.5%;
  transform: translateX(-50%) scale(.7);
}
.home_gallery #cont3{
  left: 97.5%;
  transform: translateX(-50%) scale(.5);
}
.home_gallery #cont4{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont5{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont6{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont7{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont8{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont9{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont10{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont11{
  left: 110%;
  transform: translateX(-50%) scale(.3);
}

.home_gallery #cont12{
  left: -10%;
  transform: translateX(-50%) scale(.3);
}
.home_gallery #cont13{
  left: 2.5%;
  transform: translateX(-50%) scale(.5);
}
.home_gallery #cont14{
  left: 22.5%;
  transform: translateX(-50%) scale(.7);
}

@media only screen and (max-width: 700px) {
  .home-header{
    height: 54.7vw;
  }
  .home-header .video{
    height: 54.7vw;
    width: 100%;
    transform:translateX(-50%);
    left: 50%;
    border: none;
  }
  .home-header .meld_aan{
    width: 32vw;
    height: 9vw;
  }
  .home-header .meld_aan p{
    font-size: 4vw;
  }
  .home_gallery{
      height: calc(55vw + 105px);
  }
  .home_gallery .arrow{
    width: 20vw;
    height: 55vw;
  }
  .home_gallery .image_cont{
    width: 55vw;
    padding-top: 55vw;
  }
  .home_gallery #cont1{
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
  .home_gallery #cont2{
    left: 103%;
    transform: translateX(-50%) scale(.8);
  }
  .home_gallery #cont3{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont4{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont5{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont6{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont7{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont8{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont9{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont10{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont11{
    left: 110%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont12{
    left: -10%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont13{
    left: -10%;
    transform: translateX(-50%) scale(.3);
  }
  .home_gallery #cont14{
    left: -3%;
    transform: translateX(-50%) scale(.8);
  }
}
/* END HOME GALLERY ------------------------------------------------------------*/
/* START HOME TEXT -------------------------------------------------------------*/
.home_text_cont{
  padding-top: 50px;
  position: relative;
  width: 95%;
  max-width: 1200px;
  overflow: auto;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
#mc_embed_signup input.email {
    font-family: 'Roboto', sans-serif !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
#mc_embed_signup .button {
      font-family: 'Roboto', sans-serif !important;
      font-weight: bold !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #1d374c !important;
}

/* END HOME TEXT ---------------------------------------------------------------*/
/* START HOME NIEUWS -----------------------------------------------------------*/
.newscontainer{
  position: relative;
  width: 100%;
  max-width: 1200px;
  left: 50%;
  height: 40vw;
  max-height: 488px;
  transform: translateX(-50%);
  margin-top: 50px;
}
.newscontainer h2{
  width: 100%;
  text-align: center;
}
.bignews{
  width: calc(40% - 15px);
  margin-left: 15px;
  height: 100%;
  background-color: green;
  position: relative;
  float: left;
}
.bignews .see_more{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  background-color: yellow;
}

.smallnewscontainer{
  height: 100%;
  position: relative;
  overflow: hidden;
  width: calc(60% - 30px);
  margin-right: 15px;
  float: right;
}
.movecontainer{
  position: absolute;
  height: 88%;
  min-width: 120%;
  background-color: blue;
}
.article{
  position: relative;
  width:20vw;
  max-width: 244px;
  margin-bottom: 15px;
  height: calc(50% - 15px);
  background-color: orange;
}
.movecontainer .row{
  margin-right: 15px;
  position: relative;
  float: left;
  height: 100%;
  width: 20vw;
  max-width: 244px;
}
.NewsArows{
  position: absolute;
  bottom: 0;
  background-color: purple;
  width: 100%;
  height: 12%;
}
/* END HOME NIEUWS -------------------------------------------------------------*/
/* START OVER PAGE -------------------------------------------------------------*/

.green{
  color: green;
}
.black{
  color: black;
}
.gray{
  color: gray;
}

.over-maincontainer{
  position: relative;
  width: 100%;
  max-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}
.over-maincontainer .over-cont3{
  float: left;
  position: relative;
  width: 50%;
  overflow: auto;
  text-align: left;
  margin-bottom: 40px;
}
.over-imagecont{
  position: relative;
  width: 100%;
  float: left;
  padding-top: 70%;
  border: 4px solid #d9dbd9;
  /* border-radius: 10px; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 20px;
}
.over-imagecont .imageholder{
  position: absolute;
  width: 95%;
  height: 95%;
  left:2.5%;
  top: 2.5%;
  background-size: cover;
  background-position: center center;
}
@media only screen and (max-width: 550px) {
  .over-maincontainer .over-cont1{
    width: 100%;
  }
  .over-maincontainer .over-cont2{
    width: 100%;
  }
  .over-maincontainer .over-cont3{
    width: 100%;
  }
}
